---
import quotes from "../quotes.json";
---

<div class="quotes">
  <h2 class="quote">“{quotes[0].cita}”</h2>
  <h3 class="autor">- {quotes[0].autor}, {quotes[0].fecha}</h3>
</div>

<button class="new-quote">Nova cita</button>